- var route = locals.page.filename.split('/')
- var cur_dir = route.slice(0,2).join('/')
- var cur_app = cur_dir.split('/')[1]

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    - var content = ""
    if cur_dir.search("articles") > -1
      //- Strip html, get first ~three sentences
      - content = page.html.replace(/<(?:.|\n)*?>/gm, '').match(/([^\.]+\.){0,3}/)[0]
    else if cur_dir == "index.html"
    //-  Insert hard-coded meta/description for home page here
      - content = ""
    meta(name='description', content=content)

    - var title = ""
    if page.metadata.title
      - title = page.metadata.title + " | "
    title= title + locals.title

    link(rel='shortcut icon', href='/images/dobt_logo.png')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/knowledge_base.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//use.typekit.net/ckb1dps.js')
    script try{Typekit.load();}catch(e){}

    if page.metadata.include_formrenderer
      script(src='//d3q1ytufopwvkq.cloudfront.net/0.5.5/formrenderer.js')
      link(href='//d3q1ytufopwvkq.cloudfront.net/0.5.5/formrenderer.css', rel='stylesheet')

    != nap.js('main')

    | <script>
    |   var $buoop = {};
    |   $buoop.ol = window.onload;
    |   window.onload=function(){
    |    try {if ($buoop.ol) $buoop.ol();}catch (e) {}
    |    var e = document.createElement("script");
    |    e.setAttribute("type", "text/javascript");
    |    e.setAttribute("src", "//browser-update.org/update.js");
    |    document.body.appendChild(e);
    |   }
    | </script>

    | <!--[if lt IE 9]><script src="//d2yxgjkkbvnhdt.cloudfront.net/dist/shim.js"></script><![endif]-->

  body
    block nav
      include partials/navbar.jade
      div#start_of_content
      div.content
        block content

    include partials/footer.html

    | <!--[if lt IE 9]><script src="//d2yxgjkkbvnhdt.cloudfront.net/dist/polyfills.js"></script><![endif]-->

    //- Don't render analytics when developing
    if env.mode == 'build'
      script
        | !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";}}();
        | analytics.load("xtgMvFI7GkrMupREiaXNH9svh2MOmhlQ");
        | analytics.page();
